/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    
    color: var(--body-color);
}

:root {
    --light-color: #f5ebe0;
    --heading-color: #219ebc;
    --body-color: #023047;
    --contrast-color: #fb8500;
}

/* Parallax sections */
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#section1 {
    background-image: url("../images/mountainBackground.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section1 h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--light-color);
}

#section1 p {
    font-size: 1.5rem;
    color: var(--light-color);
}

#section2 {
    background-color: var(--light-color);
    padding: 50px;
    color: var(--body-color);
}

#section2 h2 {
    color: var(--heading-color);
    margin-bottom: 20px;
}

#section2 p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons a {
    background-color: var(--contrast-color);
    color: var(--body-color);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: var(--body-color);
    color: var(--contrast-color);
}

#section3 {
    background-image: url('../images/snowboardBackground.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}